/* GLOBAL */
@font-face {
	font-family: 'AndradeProItalic';
	src: url('webfonts/andradepro_italic-webfont.eot');
	src: url('webfonts/andradepro_italic-webfont.eot?#iefix') format('embedded-opentype'),  url('webfonts/andradepro_italic-webfont.woff') format('woff'),  url('webfonts/andradepro_italic-webfont.ttf') format('truetype'),  url('webfonts/andradepro_italic-webfont.svg#AndradeProItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
.red{
        color: #FD0606;
        font-size: 13px;
        font-weight: bold;
        text-decoration: none;
}
h2{
        color: #EF3C39;
        font-size: 13px;
        font-weight: bold;
        text-decoration: none;
		margin:20px 0 8px 0;
}
strong {
	font-weight:bold;
}
.int-content {
	font-size:12px;
}
.int-content h1 {
	font-size: 18px;
	font-weight: bold;
	margin: 12px 0;
}
.int-content h1 .smalltext {
	font-size: 13px;
	font-weight: normal;
}
.int-content h2 {
	font-size: 14px;
}
p {
	font-size:12px;
	line-height:14px;
	color:#000000;
	margin:12px 0 12px 0;
}
ol.list {
    font-size: 12px;
    list-style-type: none;
    margin: 0 0 20px 0;
	}

ol.list li{
    color: #000000;
    list-style-type: none;
    margin: 4px 0 6px 0;
    padding-left: 0px;
	}
a {
	outline:none;
}
img {
	outline:none;
}
/* LAYOUT */

html {
	background:/*url(../images/body-bg.jpg) no-repeat center 0 */#666666;
	height:100%;
}
body {
	text-align:left;
}
#outer-wrap {
}
.interior #outer-wrap {
}
#page-wrap {
	margin:0 0 0 6px;
	width:978px;
	text-align:left;
}
#page-content {
	float: left;
	/*overflow: hidden;*/
    width: 515px;
	background:url(../images/content-bg.png) repeat 0 0;
	-webkit-border-radius: 0 0 10px 10px;
	-khtml-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
	margin-top:5px;
	behavior: url(/js/PIE.htc);
	position:relative;
	zoom:1;
}
.order #page-content, .landing-page #page-content {
	width:727px;
	background:none;
	/*margin-bottom: -60px;*/
}
.landing-page #page-content {
	/*margin-bottom:-90px;*/
}
/* HEADER */

#hd {
	position:relative;
	z-index:100;
}
#logo {
	background:url(../images/logo.png) no-repeat 0 0;
	color: #FFFFFF;
	display: block;
	float: left;
	height: 217px;
	line-height: 260px;
	margin: 0 6px 0 0;
	width: 218px;
}
#logo a {
	color: #666666;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	display:block;
	text-indent:-90009px;
	width:218px;
	height:217px;
}
#tagline {
	display:none;
}
#tagline a {
	color: #666666;
	font-size: 18px;
	text-decoration: none;
}
#loginbutton {
	height: 21px;
	position: absolute;
	right: 0;
	top: 10px;
	width: 139px;
	color:#999999;
}
#loginbutton a {
	color:#999999;
}
/* NAV */

#nav {
	background: none repeat scroll 0 0 #ef4323;
	float: left;
	margin: 85px 6px 0 0;
	width: 515px;
	height:66px;
}
#nav ul {
	width: 515px;
	background:#ef4323;
	margin-bottom:0;
	height:66px;
}
#nav ul ul {
	width:auto;
	background:none;
	padding:38px 0 0 0;/*margin:38px 0 0 0;*/
}
#nav ul li {
	float:left;
}
#nav ul li a {
	background: none repeat scroll 0 0 #ef4323;
	color: #FFFFFF;
	float: left;
	font-size: 16px;
	height: 66px;
	line-height: 66px;
	padding: 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	/*width: 207px;*/
	border:0;
	font-style:italic;
}
#nav ul li a:hover {
	color:#000;
}
#home #nav ul li#nav-home a {
	color:#ffffff;
}
.sf-menu li li {
	background: none !important;
}
#nav ul li ul {
	width:128px;
}
#nav ul li ul li a {
	padding:0 10px;
	height:30px;
	margin-bottom:2px;
	width:100%;
	float:none;
	display:block;
	line-height:30px;
	text-transform:capitalize;
}
#nav ul li ul li#nav-fullmenu a {
	-moz-border-radius:0 0 10px 0;
	-webkit-border-radius:0 0 10px 0;
	border-radius:0 0 10px 0;
	behavior: url(/js/PIE.htc);
	position:relative;
	zoom:1;
}
#home #nav ul li#nav-home a.nav-key, #company #nav ul li#nav-company a.nav-key {
	background:#333333;
	color:#ffffff;
}
/* ACCOUNT-LINKS SECTION */

#account-links {
	float:left;
	width:208px;
}
#account-links ul {
	height: 14px;
	margin-bottom: 5px;
	overflow: hidden;
}
#account-links ul.welcome-menu {
	margin-top:47px;
}
#account-links ul.account-links-menu {
	margin-top:66px;
}
#account-links ul li {
	float: left;
	margin: 0 3px 0 0;
}
#account-links ul li.red {
        color:#ED2024;
        font-size:10px;
	font-family:Georgia, Times New Roman, Times, serif;
	text-decoration:none;
}
#account-links ul li a, #account-links ul li {
	font-size:10px;
	color:#ffffff;
	font-family:Georgia, Times New Roman, Times, serif;
	text-decoration:none;
}
#account-links ul li a.red {
	color:#ED2024;
        font-size:10px;
	font-family:Georgia, Times New Roman, Times, serif;
	text-decoration:none;
}

.eat-at-home {
	background:url(../images/eat-home.png) no-repeat 0 0;
	font-size: 30px;
	font-style: italic;
	height: 66px;
	line-height: 66px;
	text-align: center;
	text-indent:-90009px;
	-moz-border-radius:0 10px 0 0;
	-webkit-border-radius:0 10px 0 0;
	border-radius:0 10px 0 0;
	behavior: url(/js/PIE.htc);
	position:relative;
	zoom:1;
}
.order .eat-at-home {
	background:url(../images/order-eat-home.png) no-repeat 0 0;
}
/* HOMEPAGE */

#menu {
	border: 0 none;
	float: left;
	width: 230px;
}
#menu form {
}
#menu h2 {
	color: #666666;
	font-size: 20px;
	font-weight: bold;
	margin: 10px auto;
	text-align: center;
}
#menu h3 {
	clear:both;
	color:#666666;
	padding:4px 0;
	font-weight:bold;
	font-size:14px;
}
#menu .row.option {
	border-bottom: 1px dotted #CCCCCC;
	font-size: 12px;
	margin: 5px 10px;
	position: relative;
}
a.optpop {
	-moz-border-radius: 3px; /* Firefox */
	-webkit-border-radius: 3px; /* Safari, Chrome */
	border-radius: 3px; /* CSS3 */
	background: none repeat scroll 0 0 #333333;
	border: 1px solid #333333;
	color: #FFFFFF;
	display: block;
	font-size: 11px;
	height: 13px;
	line-height: 13px;
	padding: 0;
	position: absolute;
	right: 5px;
	text-align: center;
	text-decoration: none;
	top: 0;
	width: 9px;
	behavior: url(/js/PIE.htc);
	position:relative;
	zoom:1;
}
#datepicker {
	font-size: 13px;
	margin: 0 4px 0 0;
	width: 95px;
}
.divider {
	clear:both;
	border-top:1px solid #cccccc;
	margin:15px 0;
}
.home-intro {
	float: left;
	font-family: Georgia;
	font-size: 26px;
	font-style: normal;
	margin: 10px 0 0;
	width: 515px;
	-webkit-border-radius: 0 0 10px 10px;
	-khtml-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
	behavior: url(/js/PIE.htc);
	position:relative;
	zoom:1;
}
.home-intro blockquote {
	margin:25px 36px 36px 38px;
}
.home .home-intro blockquote {
	color: #EF3C39;
}
.slideshow {
	position:relative;
}
.slide {
	width:600px;
	height:350px;
	overflow:hidden;
	position:relative;
}
.slide img {
	width:600px;
}
.slide a.custom-button {
	background: none repeat scroll 0 0 #333333;
	bottom: 60px;
	color: #FFFFFF;
	display: block;
	font-size: 15px;
	left: 180px;
	padding: 5px 30px;
	position: absolute;
	text-decoration: none;
}
.intro-text {
}
.intro-text p {
	color: #666666;
	font-size: 18px;
	margin: 10px 3px;
	line-height:24px;
}
.intro-text p strong {
}
/* FOOTER */

#ft-outer {
	clear:both;
	text-align:center;
	padding:20px;
}
.home #ft-outer,
.confirmation #ft-outer,
.account-login #ft-outer,
.account-payinfo  #ft-outer {
	position:absolute;
	bottom:5px;
}
/*.account-signup #ft-outer,
.order #ft-outer,
.landing-page #ft-outer {
	bottom:-155px;
}*/
#ft-wrap {
	margin:auto;
	height: 44px;
	overflow: hidden;
	padding:0 0;
	width: 945px;
	text-align:center;
}
#ft-wrap ul {
	height: 43px;
	margin: auto;
	overflow: hidden;
	width: 150px;
}
#ft-wrap ul li {
	float: left;
	margin: 12px 2px 0;
	width: 65px;
}
#ft-wrap ul li a {
	color: #333333;
	font-size: 14px;
	text-decoration: none;
}
.copyright {
	clear: both;
	display: block;
	height: 20px;
	/*margin: 0 auto 10px;*/
    width: 945px;
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 10px;
	color:#999999;
}
.copyright a {
	color:#ED2024;
	text-decoration:none;
}
.copyright span {
	color:#ED2024;
	padding:0 10px;
}
.copyright a:hover {
	color:#ED2024;
	text-decoration:underline;
}

.links {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 12px;
	color: #EF3C39;
}
.links a {
	color: #EF3C39;
	text-decoration:none;
}
.links span {
	color: #EF3C39;
	padding:0 10px;
}
.links a:hover {
	color: #EF3C39;
	text-decoration:underline;
}
/* INTERIOR */



/* FORM DEFAULTS */
form {
}
form label {
	float:left;
	width:110px;
	margin:0 10px 10px 0;
	text-align:right;
	font-size:11px;
}
form input {
	float:left;
	width:200px;
	margin:0 0 10px 0;
}
form textarea {
	float:left;
	width:150px;
	margin:0 0 10px 0;
	height:100px;
}
form .row {
	clear:both;
	margin:0 0 10px 0;
}
form .row.button-row {
	text-align:center;
}
form .row.button-row input {
	display: block;
	font-size: 15px;
	margin: 20px 0 20px 98px;
	width: auto;
}
form .row.button-row.home-button-row input {
	border: 1px solid #333333;
	display: block;
	font-size: 15px;
	height: 55px;
	margin: 0 0 0 120px;
	width: 105px;
}
form .fielddata {
	color: #666666;
	float: left;
	font-size: 11px;
	margin:0 6px 0 0;
}
#menu form input {
}
form .qty-wrap {
	width:38px;
	float:left;
	position:relative;
}
form input.quantity {
	position:absolute;
	width:16px;
	font-size:14px;
}
form input.add {
	background: url("/images/updown.gif") no-repeat scroll left top transparent;
	border: 0 none;
	height: 10px;
	position: absolute;
	right: 0;
	top:0px;
	text-indent: -11111px;
	width: 17px;
}
form input.minus {
	background: url("/images/updown.gif") no-repeat scroll left bottom transparent;
	border: 0 none;
	height: 10px;
	position: absolute;
	right: 0;
	text-indent: -11111px;
	width: 17px;
	top:10px;
}
form input.radio {
	width:16px;
	float:none;
	margin:auto;
}
#menu form label {
	display: block;
	float: left;
	font-size: 11px;
	margin: 0 0 0 0;
	position: relative;
	text-align: left;
	top: 0;
	width: 120px;
	color: #EF3C39;
}
form .inline-fields {
	float:left;
}
form .inline-fields .fielddata {
}
form .inline-fields input {
	width:25px;
}
form .submit-row {
	text-align:center;
}
form .submit-row input {
	margin:8px 0 8px 155px;
}
form .checkbox-row {
}
form .checkbox-row input {
	margin: 0 0 0 100px;
	width: 16px;
}
form select {
	float:left;
	margin:0 5px 0 10px;
}
/*  MENU PAGE */

#order-steps {
	background: none repeat scroll 0 0 #666666;
	display: block;
	height: 30px;
	margin: 0;
	overflow: hidden;
	width: 625px;
}
#order-steps ul {
	background: none repeat scroll 0 0 #666666;
	display:block;
	margin:0 0 0 0;
}
#order-steps ul li {
	background: none repeat scroll 0 0 #444444;
	border-right: 1px solid #FFFFFF;
	color: #CCCCCC;
	float: left;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	padding: 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 207px;
}
#order-steps ul li#menu-step-three {
	border-right:0;
	width: 209px;
}
.step-one#order-steps ul li#menu-step-one, .step-two#order-steps ul li#menu-step-two, .step-three#order-steps ul li#menu-step-three {
	color:#ffffff;
}
.menu-head, .landing-page .account-topnav {
	background:url(../images/content-bg.png) repeat 0 0;
	position:relative;
	height:70px;
	width:515px;
	float:left;
}
.menunav-next a.bx-next {
	background: url("/images/edit-button.png") no-repeat scroll right top transparent;
	color: #666666;
	display: block;
	height: 24px;
/*	line-height: 24px;*/
	padding: 0 26px 0 0;
	position: absolute;
	right: 0;
	text-align: left;
	text-decoration: none;
	top: 0;
}
.menu-wrap, .landing-page .account-wrap {
	background:url(../images/content-bg.png) repeat 0 0;
	float: left;
	width: 515px;
	-moz-border-radius:0 0 0 10px;
	-webkit-border-radius:0 0 0 10px;
	border-radius:0 0 0 10px;
	behavior: url(/js/PIE.htc);
	position:relative;
	zoom:1;
}
.order .menu-wrap {
	min-height: 522px;
}
.menu-table {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	margin: 0 auto;
	width: 470px;
}
.menu-table tr.head-row {
	border-bottom: 1px dotted #999999;
}
.menu-table tr.head-row th span {
	color:#ed2024;
}
.menu-table tr.head-row th span.day {
	color:#000;
}
.menu-table tr.head-row th {
	padding:27px 4px 4px 0;
	color:#000;
	text-align:center;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.menu-table tr.head-row th {
	padding:28px 4px 4px 0;
}
#scrollbar1 {
	margin: -5px 0 10px;
	height: 360px !important;
}
.order-sidebar h2 {
	margin: 7px 0 13px !important;
}
}
.menu-table tr.head-row th.lead {
	font-size:11px;
	text-align:left;
	font-family:Georgia, "Times New Roman", Times, serif;
}
.menu-table tr.selection-row {
}
.menu-table td {
	padding: 4px 0;
	text-align: center;
}
.menu-table td.option-title {
	position:relative;
	text-align:left;
}
.menu-table td.option-title .bubbleInfo {
	border-bottom:none;
	padding-bottom:0;
}
.menu-table td.option-title a:hover {
	color:#ed2024;
}
div.option {
	padding-right:10px;
	display:block;
	position:relative;
}
form .menu-table .qty-wrap {
	float: none;
	height: 12px;
	margin: auto;
	position: relative;
	text-align: center;
	width: 26px;
	top:3px;
}
.landing-page .order-sidebar {
	top:-90px;
}
.landing-page .order-sidebar .bottom {
	border-bottom: 1px solid #ACAEB0;
	height: 1px;
	margin: 0 auto 10px;
	padding: 20px 0 0;
	width: 177px;
}
.order-sidebar {
	-moz-border-radius: 0 0 10px 0; /* Firefox */
	-webkit-border-radius: 0 0 10px 0; /* Safari, Chrome */
	border-radius: 0 0 10px 0; /* CSS3 */
	background:url(../images/content-bg.png) repeat 0 0;
	float:right;
	width: 205px;
	behavior: url(/js/PIE.htc);
	position:relative;
	zoom:1;
	top:-70px;
}
.order-sidebar h2 {
	margin:5px 0 10px;
	padding:8px;
}
.order-sidebar .mid {
	font-size:11px;
}
table.order-sidebar-table {
	width:168px;
	margin:4px auto;
	font-size:11px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#000;
}
/*@media screen and (-webkit-min-device-pixel-ratio:0){
table.order-sidebar-table{margin:0 auto;}
}*/
table.order-sidebar-table.first {
	margin-right:28px;
}
/*@media screen and (-webkit-min-device-pixel-ratio:0){
	table.order-sidebar-table.first {
	margin-bottom:8px;
}
}*/
table.order-sidebar-table th {
	padding:4px;
	border-bottom: 1px solid #ADAFB1;
}
table.order-sidebar-table th.col-item {
	width:80px;
}
table.order-sidebar-table .subtotal th.col-item {
	width:100px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
table.order-sidebar-table .subtotal th.col-item {
	width:80px;
}
}
table.order-sidebar-table th.col-qty {
	width:30px;
	text-align:left;
}
table.order-sidebar-table th.col-cost {
	width:18px;
	text-align:left;
}
table.order-sidebar-table .subtotal th.col-cost {
	text-align:center;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
table.order-sidebar-table .subtotal th.col-cost {
	text-align:left;
}
}
table.order-sidebar-table th.col-edit {
	width:25px;
	text-align:right;
	text-transform:lowercase;
	color:#ed2024;
}
table.order-sidebar-table td {
	padding:4px;
}
table.order-sidebar-table td.date {
	text-align:right;
	color:#999;
	border-bottom:1px dotted #999;
	font-style: italic;
}
table.order-sidebar-table td a {
	color:#ed2024;
	text-decoration:none;
}
table.order-sidebar-table td a:hover {
	text-decoration:underline;
}
table.order-sidebar-table td.date span {
	color:#ed2024;
}
table.order-sidebar-table .subtotal th {
	border-top:1px dotted #999;
	border-bottom:1px dotted #999;
}
.menu-table tr.head-row th.col-sun, .menu-table tr.head-row th.col-sat {
	color: #cccccc;
}

/*///////////////////////////////////////////*/
table.order-sidebar-jin {
	width:168px;
	margin:4px auto;
	font-size:11px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#000;
}
/*@media screen and (-webkit-min-device-pixel-ratio:0){
table.order-sidebar-jin{margin:0 auto;}
}*/
table.order-sidebar-jin.first {
	margin-right:28px;
}
/*@media screen and (-webkit-min-device-pixel-ratio:0){
	table.order-sidebar-jin.first {
	margin-bottom:8px;
}
}*/
table.order-sidebar-jin th {
	padding:4px;
	border-bottom: 1px solid #ADAFB1;
}
table.order-sidebar-jin th.col-item {
	width:80px;
}
table.order-sidebar-jin .subtotal th.col-item {
	width:100px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
table.order-sidebar-jin .subtotal th.col-item {
	width:80px;
}
}
table.order-sidebar-jin th.col-qty {
	width:30px;
	text-align:center;
}
table.order-sidebar-jin th.col-cost {
	width:18px;
	text-align:left;
}
table.order-sidebar-jin .subtotal th.col-cost {
	text-align:center;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
table.order-sidebar-jin .subtotal th.col-cost {
	text-align:left;
}
}
table.order-sidebar-jin th.col-edit {
	width:25px;
	text-align:right;
	text-transform:lowercase;
	color:#ed2024;
}
table.order-sidebar-jin td {
	padding:4px;
}
table.order-sidebar-jin td.date {
	text-align:right;
	color:#999;
	border-bottom:1px dotted #999;
	font-style: italic;
}
table.order-sidebar-jin td a {
	color:#ed2024;
	text-decoration:none;
}
table.order-sidebar-jin td a:hover {
	text-decoration:underline;
}
table.order-sidebar-jin td.date span {
	color:#ed2024;
}
table.order-sidebar-jin .subtotal th {
	border-top:1px dotted #999;
	border-bottom:1px dotted #999;
}

/*///////////////////////////////////////////*/




/* CHECKOUT FORM */

.checkout-wrap {
}
.checkout-wrap .login {
	border-right: 1px solid #CCCCCC;
	float: left;
	margin: 0 15px 0 20px;
	padding-right: 15px;
	width: 400px;
}
.checkout-wrap .guest {
	float: left;
	width: 430px;
}
.int-content .checkout-wrap h2 {
	font-weight:bold;
	font-size:15px;
}
.checkout-wrap form .zip.inline-fields label, .checkout-wrap form .cvv.inline-fields label {
	width:40px;
}
.checkout-wrap .order-sidebar {
	border: 0 none;
	border-radius: 0 0 0 0;
	margin: 0;
	width: 430px;
}
.checkout-wrap .order-sidebar h3 {
	background: none repeat scroll 0 0 #CCCCCC;
	font-size: 13px;
	font-weight: bold;
	padding: 5px;
}
.checkout-wrap table.order-sidebar-table {
	margin: 4px auto;
	width: 410px;
}
.checkout-wrap table.order-sidebar-table th.col-item {
	width: 150px;
}
.checkout-wrap table.order-sidebar-table th {
	background: none repeat scroll 0 0 #ffffff;
	font-weight:bold;
}
.checkout-wrap table.order-sidebar-table tr.subtotal th {
	background: none repeat scroll 0 0 #cccccc;
}
.checkout-wrap .order-submit {
	margin:15px;
}
.checkout-wrap .order-submit input {
	float:right;
}
.ajax-box {
	text-align:left;
	margin:10px;
}
/* PRODUCT INFO PAGE */

.product-info {
	-moz-border-radius: 10px; /* Firefox */
	-webkit-border-radius: 10px; /* Safari, Chrome */
	border-radius: 10px; /* CSS3 */
	border:1px solid #cccccc;
	margin: 20px 50px;
	behavior: url(/js/PIE.htc);
	position:relative;
	zoom:1;
}
.product-row {
	clear:both;
	border-top:1px solid #cccccc;
	margin:5px 20px;
	padding:5px 0;
	overflow:hidden;
}
.product-info h1 {
	-moz-border-radius: 10px 10px 0 0; /* Firefox */
	-webkit-border-radius: 10px 10px 0 0; /* Safari, Chrome */
	background: none repeat scroll 0 0 #333333;
	border-bottom: 0 none;
	border-radius: 10px 10px 0 0;
	color: #FFFFFF;
	margin: 0 0 10px;
	padding: 10px;
	text-transform: uppercase;
	behavior: url(/js/PIE.htc);
	position:relative;
	zoom:1;
}
.product-row h2 {
	font-weight:bold;
	text-transform:uppercase;
	font-size:14px;
}
.product-info p {
	margin:5px 20px;
}
.checkout-wrap form .submit-row input {
	margin: 8px 0 8px 115px;
}
/* ACCOUNT INFORMATION */
.landing-page #page-content {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
}
.account-wrap {
	position:relative;
}
.account-content-wrap {
	width:485px;
	margin:0 auto;
}
.landing-page .account-wrap .border {
	border-bottom: 1px solid #ACAEB0;
	clear:both;
	height: 1px;
	margin: 0 auto 10px;
	padding: 20px 0 0;
	width: 485px;
}
.account-nav {
	width:200px;
	margin:0 10px 0 0;
}
.account-nav ul {
}
.account-nav ul li {
}
.account-nav ul li a {
	display:block;
	color:#ffffff;
	background:#999999;
	padding:5px 8px;
	margin:0 0 2px 0;
	text-decoration:none;
}
.account-nav ul li a:hover {
	background:#666666;
}
.account-right {
	border-top: 1px dotted #444444;
	margin: 10px 0;
	overflow: hidden;
	padding: 10px 0;
	width: 600px;
}
.order-history {
	padding-bottom:20px;
	width:213px;
	float:left;
}
.order-history.first {
	padding-bottom:5px;
}
.account-heading h2 {
	float:left;
	font-size:11px;
	color:#ed2024;
}
.account-heading h2.upcoming-heading {
	margin-right:151px
}
.landing-page .account-topnav {
	padding:20px 15px 0;
	height:70px;
	width:485px;
	font-size:11px;
}
.landing-page .account-topnav a {
	color:#000;
	text-decoration:none;
}
.landing-page .account-topnav a.active {
	color:#ed2024;
}
.account-heading {
	border-bottom: 1px solid #ACAEB0;
	bottom: 10px;
	left: 15px;
	padding: 0 0 5px;
	position: absolute;
	width: 485px;
}
.order-history.upcoming {
	padding-right:20px;
	border-right:1px dotted #000;
	margin-right:20px;
}
.order-history table {
	width:100%;
}
.order-history table tr {
}
.order-history table tr td {
	height:24px;
	padding:4px 4px 4px 0;
	text-align:left;
}
.order-history table tr td a {
	color:#999;
}
.order-history table tr td a:hover {
	color:#ed2024;
}
.order-history table tr td a.edit {
	color:#ed2024;
	text-decoration:none;
}
.order-history table tr td a.edit:hover {
	text-decoration:underline;
}
.order-history table tr th {
	border-bottom: 1px dotted #CCCCCC;
	color: #000000;
	padding: 0 0 2px;
	text-align: left;
}
.account-right h2 {
	font-weight:bold;
	font-size:18px;
	margin:0 0 12px;
}
.account-right h3 {
	font-weight:bold;
	font-size:14px;
	margin:0 0 12px;
	border-bottom:1px dotted #cccccc;
}
.account-right h3 a {
	float:right;
}
/* MENU PAGE */
.order-form-wrap {
	-webkit-border-radius: 0 0 10px 10px;
	-khtml-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
	behavior: url(/js/PIE.htc);
	position:relative;
	zoom:1;
	float: left;
	font-family: Georgia;
	font-size: 26px;
	font-style: normal;
	margin: 0 0 0;
	padding: 77px 20px 20px 20px;
	width: 475px;
}
.order-form-wrap h2 {
	background: none repeat scroll 0 0 #999999;
	-webkit-border-bottom-left-radius: 10px;
	-khtml-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-khtml-border-radius-bottomright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	font-size: 19px;
	font-style: italic;
	padding: 10px;
	text-align: center;
	width: 195px;
	behavior: url(/js/PIE.htc);
	position:relative;
	zoom:1;
}
.menu-cols {
/*overflow:hidden;*/
}
.menu-option-section {
	float:left;
	width:230px;
	border-right:0 dotted #333333;
	padding:10px 0 0 0;
}
.menu-promo {
	border:none;
	float: left;
	width: 263px;
}
.section-number {
	font-family:Georgia;
	font-size:25px;
	display:block;
	color: #EF3C39;
	float:left;
	position:relative;
	top:-13px;
	padding-right:5px;
}
.menu-promo blockquote {
	color: #ef4323;
	font-family: georgia;
	font-size: 20px;
	font-style: normal;
	line-height: 24px;
	margin: 10px 0 0 0;
	padding-right:10px;
}
/*navigation styles*/
#nav-order a.top-nav, #nav-offer a.top-nav, #nav-how a.top-nav {
	display:block;
	background:url(../images/nav-sprite.png) no-repeat 0 0;
	height:66px;
	text-indent:-90009px;
}
#nav-order a.top-nav {
	width:127px;
}
#nav-offer a.top-nav {
	background-position:-127px 0;
	width:173px;
}
#nav-how a.top-nav {
	background-position:-300px 0;
	width:215px;
}
#nav-order a.top-nav:hover,
.order #nav-order a.top-nav,
.fastorder #nav-order a.top-nav {
	background-position:0 -66px;
}
#nav-offer a.top-nav:hover,
.offer #nav-offer a.top-nav {
	background-position:-127px -66px;
}
#nav-how a.top-nav:hover {
	background-position:-300px -66px;
}
#nav ul li#nav-fastorder a, #nav ul li#nav-fullmenu a {
	background:url(../images/drop-down-sprite.png) no-repeat 0 0;
	width:128px !important;
	padding:0 !important;
	text-indent:-90009px;
}
#nav ul li#nav-fullmenu a {
	background-position:0 -31px;
}
#nav ul li#nav-fastorder a:hover, #nav ul li#nav-fastorder.current a {
	background-position:-128px 0;
}
#nav ul li#nav-fullmenu a:hover, #nav ul li#nav-fullmenu.current a {
	background-position:-128px -31px;
}
/*offer page*/
.offer strong {
	color: #EF3C39;
}
.offer em {
	font-style:italic;
}
/*fast order page*/
.fastorder #menu h3 {
	clear: both;
	color: #000;
	font-size: 11px;
	font-weight: bold;
	padding: 0 0 4px 0;
	position: relative;
}
.fastorder #menu .dish span, .bubbleInfo, .cluetip-bubbleInfo {
	border-bottom: 1px dotted #CCCCCC;
	color:#898989;
	display:block;
	font-size:11px;
	margin:0 0 0 0;
	padding:0 0 5px 0;
}
.bubbleInfo a, .cluetip-bubbleInfo a {
	color:#898989;
	text-decoration:none;
}
.fastorder a.optpop {
	background:url(../images/info.png) no-repeat 0 0;
	border: 0;
	border-radius: 0;
	color: #FFFFFF;
	display: block;
	font-size: 11px;
	height: 11px;
	left: 0;
	line-height: 13px;
	padding: 0;
	position: absolute;
	text-align: center;
	text-decoration: none;
	top: 0;
	width: 12px;
	text-indent:-90009px;
}
.fastorder form .qty-wrap {
	float: right;
	height: 12px;
	position: relative;
	top: 5px;
	width: 26px;
	z-index: 1;
}
.fastorder #menu .row.option {
	border-bottom:0;
	font-size: 12px;
	margin: 0 0 10px 0;
	position: relative;
	padding-right:0;
}
.fastorder form input.quantity {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	display: block;
	font-size: 13px;
	height: 17px;
	left: 5px;
	line-height:17px;
	position: absolute;
	text-align: center;
	top: -5px;
	width: 16px;
}
.fastorder form .row.button-row.home-button-row input, .order .order-submit input {
	background:url(../images/order-now-btn.png) no-repeat 0 0;
	border:none;
	display: block;
	font-size: 15px;
	height: 76px;
	margin: 5px 0 0 130px;
	width: 75px;
	text-indent:-90009px;
	cursor:pointer;
}
.fastorder #menu {
	border-left: 2px dotted #CCCCCC;
	float: left;
	width: 195px;
	margin-bottom:15px;
}
.fastorder .menu-option-section {
	border-right: 0 dotted #333333;
	float: left;
	padding: 10px 0 0;
	width: 195px;
	margin-left:8px;
}
.fastorder .date-picker-wrap {
	clear:both;
	text-align:right;
	font-size:11px;
	color:#999b9e;
	margin-bottom:5px;
}
.fastorder .date-picker-wrap input {
	float:none;
	width:174px !important;
	height:15px;
	text-align:center;
	position:relative;
	top:-3px;
	background:#ccc;
	border:none;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	line-height:15px;
	behavior:url(/js/PIE.htc);
	zoom:1;
}
.fastorder .date-picker-wrap span {
	padding:0 2px;
	position:relative;
	top:-1px;
}
.fastorder .date-row {
	border-bottom:1px solid #bec0c2;
}
.fastorder .divider {
	border-top: 2px solid #CCCCCC;
	clear: both;
	margin: 15px 0;
}
.bubbleInfo {
	position: relative;
}
.popup {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	-webkit-box-shadow: #ccc 0px 2px 3px;
	-moz-box-shadow: #ccc 0px 2px 3px;
	box-shadow: #ccc 0px 2px 3px;
	display: block;
	font-family: Georgia,"Times New Roman",Times,serif;
	position: absolute;
	width: 120px;
	-moz-border-radius:0 0 8px 8px;
	-webkit-border-radius:0 0 8px 8px;
	border-radius:0 0 8px 8px;
	/*behavior:url(/js/PIE.htc);*/
	zoom:1;
}
.bubbleInfo .option-page-link, .cluetip-bubbleInfo .option-page-link {
	color: #ed2024;
	text-decoration:none;
	cursor:pointer;
}
.bubbleInfo li.first, .cluetip-bubbleInfo li.first {
	border-bottom:1px solid #000;
	padding-bottom:2px;
	margin-bottom:2px;
}
.bubbleInfo li.second, .cluetip-bubbleInfo li.second {
	margin-bottom:15px;
	font-size: 12px;
    line-height: 14px;
    color: #898989;
}
.bubbleInfo li.last, .cluetip-bubbleInfo li.last {
	color:#000;
}
/*full order page*/
.menu-head h2 {
	font-size:11px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color: #EF3C39;
	font-weight:normal;
	width:244px;
	position:absolute;
	right:22px;
}
.menu-head h2 span {
	font-size:25px;
}
.order-sidebar h2 {
	font-size:11px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color: #EF3C39;
	font-weight:normal;
	background:none;
}
.order .order-submit input {
	margin: 5px 0 10px 102px;
}
.order .order-submit {
	border-bottom: 1px solid #999999;
	clear: both;
	display: block;
	height: 90px;
	margin: 0 auto 10px;
	width: 177px;
	padding-bottom:19px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.order .order-submit {
	padding-bottom:4px;
}
}
.order-sidebar-wrap {
/*height:385px;*/
	/*overflow:hidden;*/
}
form .menu-table input.add, form .menu-table input.minus, form input.minus, form input.add {
	background: url("/images/week-arrows.png") no-repeat 0 -7px;
	border: 0 none;
	height: 7px;
	position: absolute;
	right: -7px;
	top:1px;
	text-indent: -11111px;
	width: 11px;
	cursor:pointer;
}
form .menu-table input.minus, form input.minus {
	left:-7px;
}
form .menu-table input.add, form input.add {
	background-position:-11px -7px;
}

.order form input.quantity {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	display: block;
	font-size: 13px;
	left: 5px;
	position: absolute;
	text-align: center;
	top: -5px;
	width: 16px;
}
.order form input.quantity1 {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	display: block;
	font-size: 13px;
	text-align: center;
	width: 16px;
}
.order form input.quantity2 {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	display: block;
	font-size: 13px;
	left: 110px;
	position: absolute;
	text-align: center;
/*	top: -5px;*/
	width: 40px;
}
.order form input.total {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	display: block;
	font-size: 13px;
/*	left: 88px;*/
	position: absolute;
	text-align: center;
/*	top: -5px;*/
	width: 50px;
}
form .menu-table .radio {
	background:url(../images/flower.png) no-repeat 0 0;
	height:11px;
	width:11px;
	cursor:pointer;
	margin:0 auto;
}
form .menu-table .radio:hover {
	background-position:0 -11px;
}
.order .menu-table {
	border-bottom:1px solid #999;
	border-top:1px solid #999;
	margin-bottom:10px;
}
.order .menu-table .last .col-mon, .order .menu-table .last .col-tues, .order .menu-table .last .col-thurs, .order .menu-table .last .col-wed, .order .menu-table .last .col-fri {
	padding-bottom:10px;
}
.weekly-menu {
	bottom: 4px;
	color: #000000;
	display: block;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	height: 12px;
	position: absolute;
	right: 22px;
	text-align: left;
	width: 80px;
	margin: 0;
}
.weekly-menu .menunav-next a.bx-next, .weekly-menu .menunav-prev a.bx-prev,
.weekly-menu .menunav-next,  .weekly-menu .menunav-prev {
	background:url(../images/week-arrows.png) no-repeat -11px 0;
	display:block;
	width:11px;
	height:7px;
	position:absolute;
	right:0;
	padding:0;
	top:4px;
	margin-left:5px;
	cursor: pointer;
}
.weekly-menu .menunav-prev a.bx-prev,
.weekly-menu .menunav-prev  {
	background-position:0 0;
	left:0;
	margin:0 7px 0 0;
}
.weekly-menu .menunav-next a.bx-next,
.weekly-menu .menunav-next {
	background-position:-11px 0;
	left:0;
	margin:0 5px 0 95px;
}
.weekly-menu .menunav-prev a.bx-prev:hover,
.weekly-menu .menunav-prev:hover {
	background-position:0 -7px;
}
.weekly-menu .menunav-next a.bx-next:hover,
.weekly-menu .menunav-next a.bx-next,
.weekly-menu .menunav-next:hover {
	background-position:-11px -7px;
}
/* Tiny Scrollbar */
#scrollbar1, #scrollbar2 {
	margin: -5px 0 10px;
	height:346px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
#scrollbar1, #scrollbar2 {
	overflow:hidden;
}
}
.landing-page #scrollbar1, .landing-page #scrollbar2 {
	height:260px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.landing-page #scrollbar1 {
	height:265px !important;
}
}
#scrollbar1 .viewport, #scrollbar2 .viewport {
	height: 360px;
	overflow: hidden;
	position: relative;
	margin-left:10px;
}
.landing-page #scrollbar1 .viewport, .landing-page #scrollbar2 .viewport {
	height: 265px;
}
#scrollbar1 .overview, #scrollbar2 .overview {
	list-style: none;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
}
#scrollbar1 .scrollbar, #scrollbar2 .scrollbar {
	background: transparent url(../images/bg-scrollbar-track-y3.png) no-repeat 0 0;
	position: relative;
	background-position: 0 0;
	float: right;
	width: 11px;
	margin-right:5px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
}
#scrollbar1 .track, #scrollbar2 .track {
	background: transparent url(../images/bg-scrollbar-trackend-y3.png) no-repeat 0 100%;
	height: 100%;
	width:11px;
	position: relative;
	padding: 0 1px;
}
#scrollbar1 .thumb, #scrollbar2 .thumb {
	background: transparent url(../images/bg-scrollbar-thumb-y3.png) no-repeat 50% 100%;
	height: 20px;
	width: 11px;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
}
#scrollbar1 .thumb .end, #scrollbar2 .thumb .end {
	background: transparent url(../images/bg-scrollbar-thumb-y3.png) no-repeat 50% 0;
	overflow: hidden;
	height: 5px;
	width: 11px;
}
#scrollbar1 .disable, #scrollbar2 .disable {
	display: none;
}
#scrollbar2 .viewport {
	margin-left:0;
}
.landing-page #scrollbar2 {
	height:389px;
}
.landing-page #scrollbar2 .viewport {
	height:360px;
}
#scrollbar2 .scrollbar {
	margin-right: -10px;
	top: -34px;
}
#scrollbar2.order-sidebar-wrap {
	overflow:visible;
}
/*account login page*/
.int-content.account-login h2, .int-content.account-login h3, .int-content.account-login h3 .login, .int-content.account-login a {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:11px;
	color:#000;
	clear:both;
}
.int-content.account-login a {
	color:#999;
}
.int-content.account-login a:hover {
	text-decoration:none;
}
.int-content.account-login h3 {
	margin-bottom:10px;
}
.int-content.account-login form label {
	color: #000;
	margin-bottom: 2px;
	width: 204px;
	text-align:left;
	font-family:Georgia, "Times New Roman", Times, serif;
}
.int-content.account-login form label.remember {
	color:#999;
}
.int-content.account-login .row.checkbox-row {
	margin-bottom:0;
	position:relative;
}
.int-content.account-login .checkbox-row label {
	position:absolute;
	right:8px;
	top:1px;
	text-align:right;
}
.int-content.account-login form .row {
	height: 15px;
	margin-bottom: 2px;
	width: 204px;
}
.int-content.account-login .checkbox-row input {
	position:absolute;
	right:0;
	top:0;
}
.int-content.account-login form .row.fpassword {
	text-align:right;
}
.int-content.account-login form input[type=text], .int-content.account-login form input[type=password], .account-signup .int-content form input[type=text], .account-signup .int-content form input[type=password], .account-signup .int-content form textarea, .order-signup .int-content input[type=text] {
	background:#ccc;
	border:none;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	behavior:url(/js/PIE.htc);
	position:relative;
	zoom:1;
	height:15px;
	width:194px;
	line-height:15px;
	padding-left:10px;
	font-size:11px !important;
	margin-bottom:0;
}
.int-content.account-login h2, .account-signup .int-content h2 {
	color:#ed2024;
	padding-bottom:20px;
	margin-bottom:15px;
	border-bottom:1px solid #acaeb0;
	font-size:11px;
}
.int-content.account-login {
	padding:20px 25px 50px;
}
.account-login #page-content {
	/*height:300px;*/
}
.account-login .login {
	padding-bottom:10px;
}
.account-login .error {color:red;}
/*sign up page*/
.account-signup .int-content {
	position:relative;
	padding:20px 15px 20px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:11px;
	color:#000;
	width:485px;
}
.account-signup .int-content .account-wrap {
	border-bottom: 1px solid #ACAEB0;
	padding: 0 0 10px;
	width: 485px;
}
.account-signup .int-content .edit-save input, .account-info .int-content .edit-save {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	color: #EF3C39 !important;
	cursor: pointer;
	display: block;
	position: absolute;
	right: -70px;
	top: 37px;
	text-decoration:none;
}
.account-signup .int-content .edit-save-down input {
	background: none repeat scroll 0 0 transparent;
      border: medium none;
      color: #EF3C39 !important;
      cursor: pointer;
      display: block;
      float: right;
      margin-right: -70px;
      text-decoration: none;
      clear: both;
}
.account-signup .int-content .edit-save-accountinfo input {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	color: #EF3C39 !important;
	cursor: pointer;
	display: block;
	position: absolute;
	right: -88px;
	top: -37px;
	text-decoration:none;
}
.account-info .int-content .edit-save-signup {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	color: #EF3C39 !important;
	cursor: pointer;
	display: block;
	position: absolute;
	right: 12px;
	top: 576px;
	text-decoration:none;
}
.account-info .int-content a.edit-save {
	right:15px;
}
.account-signup .int-content h3 {
	clear:both;
	color: #EF3C39;
	margin-bottom:5px;
}
.account-signup .int-content form label,
.order-signup .int-content label {
	width:90px;
}
.account-signup .int-content form input[type=text], .account-signup .int-content form input[type=password], .account-signup .int-content form textarea,  .order-signup .int-content input[type=text]{
	width:151px;
}
.account-signup .int-content form input.secure {
	color:#fff;
}
.account-signup .int-content form input.secure:focus,
.account-signup .int-content form input#mydate:focus {
	color:#000 !important;
}
.account-signup .int-content form textarea {
	height:40px;
        width: 200px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	display: block;
	float: none;
}
.account-signup .int-content form .col-two.first {
	border-right: 1px dotted #000000;
	float: left;
	width: 263px;
}
.account-signup .int-content form .col-two label {
	margin: 0 5px 10px 0;
}
.account-signup .int-content form .col-two {
	float:right;
	width:213px;
}
.account-payinfo .int-content form .col-two {
	float:left;
	width:213px;
}
.account-signup .int-content em {
	font-size:italic;
}
.account-signup .int-content form .col-two.first .zip input,
.order-signup .int-content .zip input {
	width:68px;
}
.account-signup .int-content form .col-two.first .state input,
.order-signup .int-content .state input {
	width:18px;
	text-transform:uppercase;
}
.order-signup .state .fielddata,
.order-signup .zip .fielddata {
	margin:0;
}
.account-signup .int-content form .state.inline-fields,
.order-signup .int-content .state.inline-fields {
	float: right;
	position: relative;
	right: 8px;
}
.account-signup .int-content form .state.inline-fields label,
.order-signup .int-content .state.inline-fields label {
	width:50px;
}
.account-signup .int-content form .billing input {
	float:none;
	margin-left:20px;
}
.account-signup .int-content form .col-two.last label.wide {
	width:122px;
	text-align:left;
	margin-bottom:5px;
}
.account-signup .int-content form .col-two.last label {
	width:42px;
}
.account-signup .int-content form .col-two.last #show-paypal label {
	width:100px;
	display:block;
	float:none;
}
.account-signup .int-content form .col-two.last .checkbox-row input {
	margin:0;
}
.account-signup .int-content form .col-two.last .row.expr label {
	display:block;
	float:none;
	margin-bottom:5px;
	text-align:left;
}
.account-signup .int-content form .col-two.last .row.expr label.wide, .account-signup .int-content form .col-two.last .row.expr input {
	width:79px;
}
.account-signup .int-content form .col-two.last .row.expr .cvv input {
	width:55px;
}
.account-signup .int-content form .col-two.last .row.expr .cvv {
	margin-left:7px;
}
.account-signup .int-content form .col-two.last select {
	margin:0 5px 0 0;
}
/*account info page*/
.account-info .int-content form .col-two.last .show-credit-card .fielddata, .account-edit .int-content form .col-two.last .show-credit-card .fielddata {
	width:204px;
}
.account-info .int-content form .fielddata, .account-info .int-content form .fieldblock, .account-edit .int-content form .fielddata, .account-edit .int-content form .fieldblock {
	color:#999;
}
.account-info .int-content .account-topnav, .account-edit .int-content .account-topnav, .account-payinfo .int-content .account-topnav {
	border-bottom: 1px solid #ACAEB0;
	color: #000;
	margin-bottom: 15px;
	padding-bottom: 20px;
	font-size:11px;
}
.account-info .int-content .account-topnav a, .account-edit .int-content .account-topnav a, .account-payinfo .int-content .account-topnav a {
	color:#000;
	text-decoration:none;
}
.account-info .int-content .account-topnav a.active, .account-edit .int-content .account-topnav a.active, .account-payinfo .int-content .account-topnav a.active {
	color:#ED2024;
}
.account-info h3 {
	padding-top:14px;
}
.account-info .col-two .fieldblock {
	display: block;
	height: 20px;
	padding:4px 0 14px;
}
/*account profile page*/
.landing-page .date-top {
	width:177px;
	margin:0 auto 20px;
	color:#989899;
	font-size:11px;
	padding-top:20px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.landing-page .date-top {
	margin:0 auto 25px;
}
}
.landing-page .order-submit {
	width:177px;
	margin: 0 auto 96px;
}
.landing-page .order-submit a {
	color:#ff3333;
}
/*account edit page*/
.account-edit .int-content form .edit-save, .account-payinfo .int-content form .edit-save, .account-payinfo .int-content form .edit-save a {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	color: #EF3C39 !important;
	cursor: pointer;
	display: block;
	position: absolute;
	right: -100px;
	text-decoration: none;
	top: -72px;
}
.account-payinfo .int-content form .edit-save a {
	right: 150px;
	top: 42px;
}
/*password recover form */
.password-recover {
	text-align:left;
}
.password-recover .popup form {
	width:320px;
	margin:0 auto;
	padding:10px 0;
}
.password-recover .popup {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	-webkit-box-shadow: #ccc 0px 2px 3px;
	-moz-box-shadow: #ccc 0px 2px 3px;
	box-shadow: #ccc 0px 2px 3px;
	display: block;
	position: absolute;
	width: 347px;
	-moz-border-radius:0 0 8px 8px;
	-webkit-border-radius:0 0 8px 8px;
	border-radius:0 0 8px 8px;
	behavior:url(/js/PIE.htc);
	position:relative;
	zoom:1;
}
.password-recover .popup label, .password-recover .popup input {
	display:block;
	float:none;
	width:204px;
	text-align:left;
	font-family:Georgia, Times New Roman, Times, serif;
	font-size:11px;
	margin-bottom:0;
}
.password-recover .popup input[type=text] {
	background:#ccc;
	border:none;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	behavior:url(/js/PIE.htc);
	position:relative;
	zoom:1;
	height:15px;
	width:194px;
	line-height:15px;
	padding-left:10px;
	font-size:11px !important;
	margin-bottom:7px;
}
.password-recover .popup h3 {
	font-family:Georgia, Times New Roman, Times, serif;
	font-size:11px;
	color:#ff3333;
	border-bottom:1px solid #adaeb0;
	padding-bottom:2px;
	margin-bottom:10px;
}
.password-recover .popup li.submit {
	border-top:1px solid #adaeb0;
	padding-top:2px;
	text-align:right;
}
.password-recover .popup input[type=submit] {
	background:url(../images/back-arrow.png) no-repeat right 5px;
	border:none;
	text-align:right;
	padding-right:10px;
	margin-left:115px;
	cursor:pointer;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.password-recover .popup input[type=submit] {
	background:url(../images/back-arrow.png) no-repeat right center;
	padding-right:13px;
}
}
.popup.cancel {
	padding:10px 10px 50px;
}
.popup.cancel h4 {
	font-family:Georgia, Times New Roman, Times, serif;
	font-size:11px;
	color:#ed2024;
	border-bottom:1px solid #818181;
	padding-bottom:2px;
	margin-bottom:2px;
}
.popup.cancel p {
	font-family:Georgia, Times New Roman, Times, serif;
	font-size:11px;
	color:#666;
}
/*clear floated elements*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
/*custom form elements*/
.account .checkbox, .account .radio,
.order-signup .checkbox, .use_card_checkbox {
	background:url(../images/checkbox.png) no-repeat 0 0;
	display: block;
	height: 25px;
	padding: 0 5px 0 0;
	position: absolute;
	right: -5px;
	top: -4px;
	width: 19px;
}
.account-signup .int-content form .col-two.last .checkbox, .account-signup .int-content form .col-two.last .radio, .billing .checkbox {
	float: left;
	padding: 0;
	position: relative;
	right: 3px;
}
.billing .checkbox {
	display: inline-block;
	float: none;
	margin-right: 25px;
	right: -25px;
	top: 10px;
}
.select {
	background:url(../images/select-box.png) no-repeat 0 0;
	height:15px;
	width:155px;
	display:block;
	padding-left:10px;
	position:absolute;
	top:20px;
	left:0;
}
/*checkout process*/
.step2 .int-content.account-login h2 {
	border-bottom:0;
	border-top:1px solid #ACAEB0;
	padding-top:18px;
}
.step2 .int-content.account-login {
	padding-top:70px;
}
.account-login.step2 #page-content {
	height: 360px;
}
.int-content.account-login {
	position:relative;
}
.int-content.account-login .login-btn {
	height:76px;
	position:absolute;
	bottom:26px;
	right:22px;
	width:75px;
}
.step2 .account-login .login {
	border-bottom:0;
	padding-bottom: 10px;
}
.step-box, .back {
	font-size:11px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#ef4423 !important;
	position:absolute;
	right:0;
	z-index:100;
}
.step-box {
	top:13px;
	width:260px;
	z-index:100;
}
.back {
	right: 0px;
	text-decoration: none !important;
	top: 50px;
}
.account-signup.step2 .int-content .account-wrap {
	padding-top:18px;
}
.account-signup.step2 .order-sidebar {
	background: url("../images/content-bg.png") repeat scroll 0 0 transparent;
	border-radius: 0 0 10px 0;
	height: 605px;
	position: absolute;
	right: -212px;
	top: 0;
	width: 205px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.account-signup.step2 .order-sidebar {
	height:596px;
}
}
.account-signup.step2 .order-submit {
	bottom: 10px;
	clear: both;
	display: block;
	height: 76px;
	position: absolute;
	right: 10px;
	width: 75px;
}
.account-signup.step2 #page-content {
	-moz-border-radius:0 0 0 10px;
	-webkit-border-radius:0 0 0 10px;
	border-radius:0 0 0 10px;
}
.account-signup.step2.order-signup .eat-at-home {
	background: url("../images/order-eat-home.png") no-repeat scroll 0 0 transparent;
}
.account-signup.step3.order-signup .int-content h2 {
	clear:both;
	padding-bottom:0;
	margin-bottom:5px;
	border-bottom:0;
	margin-top:0;
}
.account-signup.step3.order-signup .int-content form {
	width:240px;
}
.account-signup.step2 .order-submit input {
	float: right;
	height: 76px;
	margin: 0;
	text-align: right;
	width: 75px;
}
.account-signup.step3 .order-submit {
	border-bottom: 1px solid #999999;
	clear: both;
	display: block;
	height: 90px;
	margin: 0 auto 10px;
	width: 177px;
}
.account-signup.step3 .order-sidebar {
	height:600px;
}
.account-signup.step3 .int-content .account-wrap {
	height:480px;
	padding-top:18px;
}
.account-signup.step3 .int-content .account-wrap .row,
.account-signup.step3 .int-content .account-wrap #cc_info {
	width: 270px;
	position: relative;
}
.ccdata {
	position: relative;
	height: 25px;
	width: 25px;
}
.order-signup .ccdata .checkbox {
	right:3px;
}
.account-signup.step2 .int-content .account-wrap .account-signup.step3 .menu-head, .account-signup.step2 .menu-head {
	background:none;
	border-bottom: 1px solid #999999;
	float:none;
	height: 70px;
	position: relative;
	width: 485px;
}
.account-signup.step3 .int-content, .account-signup.step2 .int-content {
	padding:0 15px 20px;
}
.account.account-login.step2 .step-box {
	background:url(../images/step2-bg.png) no-repeat 0 3px;
	padding-left:42px;
}
.account-signup.step2 .step-box {
	background:url(../images/step2-bg.png) no-repeat 0 3px;
	padding-left:42px;
	right:-25px;
}
.account-signup.step3 .step-box {
	background:url(../images/step3-bg.png) no-repeat 0 3px;
	padding-left:42px;
	right:0;
	width: auto;
}
.account-signup.step3 .back {
	right:0;
	top: 52px;
}
/*confirmation page*/
.confirmation h2 {
	font-size:25px;
	font-weight:regular;
	color: #EF3C39;
}
.confirmation h3 {
	font-size:11px;
	font-weight:regular;
	color: #EF3C39;
}
/*revised full menu*/
.order .menu-head h2 {
	background:url(../images/step1-bg.png) no-repeat 0 3px;
	padding-left:42px;
	right:0;
	top:13px;
	margin: 0;
}
.menu-table tr.head-row th {
	width:33px;
}
.menu-table tr.head-row th.lead {
	width:110px;
}
table.order-sidebar-table td.remove img {
	position:relative;
	top:0;
}
.selection-row.last td {
	padding-bottom:27px;
}
.question-bubble {
	position:relative;
	top:2px;
	left:1px;
}
.ccinfo-box .popup {
	width:187px;
	padding:5px 15px 15px;
	font-size:11px;
}
.ccinfo-box .popup h3 {
	color:#f52a3b;
	border-bottom:1px solid #abacad;
	padding-bottom:1px;
	margin-bottom:1px;
	position:relative;
}
.ccinfo-box .popup h3 span {
	position:absolute;
	right:0;
	top:0;
	cursor:default;
}
.ie8 .billing-address,
.ie7 .billing-address {
	height: 15px;
    position: relative;
	padding:8px 0 5px 0;
}
.ie8 .billing,
.ie7 .billing {
	display: block;
    position: absolute;
    right: 9px;
    top: -6px;
}
.ie7 form .row {
	margin:0;
}
.ie7 .account-signup .int-content form .col-two.last .row.expr label.wide {
	width:99px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
form #show-credit-card .row  {
	margin-bottom:5px;
}
}
a {
	text-decoration:none;
}
a:hover {
	text-decoration:underline !important;
}
.account-signup .int-content .edit-save input:hover {
	text-decoration:underline;
}

.order_error {
	color: red;
	margin: 10px;
	font-weight: bold;
}
.italic,
.italic strong {
	font-style: italic !important;
	color:#000;
}
.subtotal .col-tax,
.subtotal .col-total {
	text-align: right;
}
.#myemail:-webkit-autofill {
	background-color: rgb(204,204,204) !important;
}

.account-signup #page-content {
	background: none;
	width: 730px;
}
.account-signup #page-content .int-content {
	background: url("../images/content-bg.png") repeat scroll 0 0 transparent;
	width: 485px;
	float: left;
	border-radius: 0 0 0 10px;
}
.account-signup #page-content .order-sidebar {
	float: right;
	width: 208px;
	background: url("../images/content-bg.png") repeat scroll 0 0 transparent;
	top: auto;
	height: 495px;
}