/* GLOBAL */

strong{
	font-weight:bold;
}


.int-content{
	font-size:12px;
}

.int-content h1{
	font-size: 18px;
    font-weight: bold;
    margin: 12px 0;
}
.int-content h1 .smalltext{
	font-size: 13px;
    font-weight: normal; 
}
.int-content h2{
	font-size: 14px;
}

p{
	font-size:12px;
	line-height:14px;
}
  
/* LAYOUT */

html{ 
	background:#666666;

}
body{ 
	background:#666666;
	width:100%;
}
#outer-wrap{ 
   background: none repeat scroll 0 0 #666666; 
    padding: 0 0 30px;
	width:100%;
}
.interior #outer-wrap{ 
 
}

#page-wrap{
	margin:0 auto;
	width:1180px;
	text-align:left;
}

#page-content{
	  float: left;
    overflow: hidden;
    width: 625px;
	background:#ffffff;
-webkit-border-bottom-left-radius: 10px;
	-khtml-border-radius-bottomleft: 10px;	
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
	-khtml-border-radius-bottomright: 10px;	
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	margin-top:10px;
}

.order #page-content,.account #page-content{
	width:890px;
}

 
/* HEADER */

#hd{
	position:relative;
}

#logo{
	 background: none repeat scroll 0 0 #EEEEEE;
    color: #FFFFFF;
    display: block;
    float: left;
    height: 260px;
    line-height: 260px;
    margin: 0 10px 0 0;
    text-align: center;
    width: 280px;
}

	#logo a{   
		color: #666666;
	    font-size: 24px;
	    font-weight: bold;
	    text-decoration: none;
	}

#tagline{
	display:none;
}
#tagline a{
		color: #666666;
	    font-size: 18px; 
	    text-decoration: none;
}

#loginbutton{
    height: 21px;
    position: absolute;
    right: 0;
    top: 10px;
    width: 139px;
		color:#999999;
}

	#loginbutton a{   
		color:#999999;
	}
 

/* NAV */

#nav{
	background: none repeat scroll 0 0 #999999; 
    float: left;
    margin: 100px 10px 0 0;
    width: 625px;
}

#nav ul{
	width: 625px;
	background:#999999;
	margin-bottom:0;
}
#nav ul ul{
	width:auto;
	background:#999999;
	padding:0;
	margin:50px 0 0 0;
}


#nav ul li{
	float:left;
}

#nav ul li a{
  background: none repeat scroll 0 0 #999999;
    color: #FFFFFF;
    float: left;
    font-size: 16px;
    height: 82px;
    line-height: 82px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 207px;
	border:0;
}
#nav ul li a:hover{ 
	background:#666666;
}
#home #nav ul li#nav-home a{
	background:#333333;
	color:#ffffff;
}
.sf-menu li li {
    background: none repeat scroll 0 0 #999999;
}
#nav ul li ul  {
    width:190px;
}
#nav ul li ul li a {
    padding:0 10px;
	width:100%;
	float:none;
	display:block;
}
#home #nav ul li#nav-home a.nav-key,#company #nav ul li#nav-company a.nav-key{
	background:#333333;
	color:#ffffff;
} 

/* ACCOUNT-LINKS SECTION */

#account-links{
	float:left;
	width:255px;
}

#account-links ul{
   height: 25px;
    margin-top: 74px;
    overflow: hidden;
}

#account-links ul li{
float: left;
    margin: 0 5px 0 0;
	font-size:11px;
	color:#ffffff;
}
#account-links ul li a{
	font-size:11px;
	color:#ffffff;
}
.eat-at-home{
	background: none repeat scroll 0 0 #EEEEEE;
    font-size: 30px;
    font-style: italic;
    height: 84px;
    line-height: 84px;
    text-align: center;
}




/* HOMEPAGE */

#menu{
border: 0 none; 
    float: left;
    margin: 10px 20px 10px 10px; 
    width: 275px;
}

#menu form{
	margin:0 10px;
}

#menu h2{
color: #666666;
    font-size: 20px;
    font-weight: bold;
    margin: 10px auto;
    text-align: center;
}
#menu h3{
	clear:both;   
	color:#666666;
	padding:4px 0;
	font-weight:bold;
	font-size:14px;
}

#menu .row.option{
	  border-bottom: 1px dotted #CCCCCC;
    font-size: 12px;
    margin: 5px 10px;
    position: relative;
}


a.optpop{
-moz-border-radius: 3px; /* Firefox */
  -webkit-border-radius: 3px; /* Safari, Chrome */
  border-radius: 3px; /* CSS3 */
	background: none repeat scroll 0 0 #333333;
    border: 1px solid #333333; 
    color: #FFFFFF;
    display: block;
    font-size: 11px;
    height: 13px;
    line-height: 13px;
    padding: 0;
    position: absolute;
    right: 5px;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: 9px;
}

#datepicker{
    font-size: 13px;
    margin: 0 4px 0 0;
    width: 95px;
}

.divider{
	clear:both;
	border-top:1px solid #cccccc;
	margin:15px 0;
}

.home-intro{ 
	background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    font-family: Georgia;
    font-size: 26px;
    font-style: normal;
    margin: 10px 0 0; 
    width: 625px;
-webkit-border-bottom-left-radius: 10px;
	-khtml-border-radius-bottomleft: 10px;	
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
	-khtml-border-radius-bottomright: 10px;	
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
}

.home-intro blockquote{ 
	margin:40px;
}


.slideshow{
	position:relative;
}

.slide{
	width:600px;
	height:350px;
	overflow:hidden;
	position:relative;
}

.slide img{
	width:600px;
}

.slide a.custom-button{
 	background: none repeat scroll 0 0 #333333;
    bottom: 60px;
    color: #FFFFFF;
    display: block;
    font-size: 15px;
    left: 180px;
    padding: 5px 30px;
    position: absolute;
    text-decoration: none;
}

.intro-text{

}

.intro-text p{
color: #666666;
    font-size: 18px;
    margin: 10px 3px;
	line-height:24px;
}

.intro-text p strong{

} 

/* FOOTER */

#ft-outer{
	clear:both;
	text-align:center;
	padding:20px;
}


#ft-wrap{  
	margin:auto;
    height: 44px;
    overflow: hidden;
	padding:0 0;
    width: 945px;
	text-align:center;
}
#ft-wrap ul{
 height: 43px;
    margin: auto;
    overflow: hidden;
    width: 300px;
}
#ft-wrap ul li{
	 float: left;
    margin: 12px 2px 0;
    width: 90px;
}

#ft-wrap ul li a{
 color: #333333;
    font-size: 14px;
    text-decoration: none;
}


.copyright{ 
    clear: both;
    display: block;
    height: 20px;
    margin: 0 auto 10px;
    width: 945px;  
	font-size:12px;
	color:#999999;
}

.copyright a{ 
	color:#cccccc;
}

/* INTERIOR */

 
 
/* FORM DEFAULTS */
form{
	font-size:12px;
}

.checked-box{
	padding:4px;
	border:1px solid #999999;
}

form label{
	float:left;
	width:110px;
	margin:0 10px 10px 0;
	text-align:right;
	font-size:12px;
}
form input{
	float:left;
	width:200px;
	margin:0 0 10px 0;
}
form textarea{
	float:left;
	width:150px;
	margin:0 0 10px 0;
	height:100px;
}
form .textarea-row textarea{
	width:250px;
}


form .row{
	clear:both; 
	margin:0 0 10px 0;
}
form .row.button-row{
	 text-align:center;
}
form .row.button-row input{
	    display: block;
    font-size: 15px;
    margin: 20px 0 20px 98px;
    width: auto;
}


form .row.button-row.home-button-row input{
  border: 1px solid #333333;
    display: block;
    font-size: 15px;
    height: 55px;
    margin: 0 0 0 120px;
    width: 105px;
}

form .fielddata{
	color: #666666;
    float: left;
    font-size: 13px;
	margin:0 6px 0 0;
}  

#menu form input{

}
 form .qty-wrap{
	width:38px;
	float:left;
	position:relative;
}
 form input.quantity {
	position:absolute;
	width:16px; 
	font-size:14px;
}
 form input.add{
	 background: url("/images/updown.gif") no-repeat scroll left top transparent;
    border: 0 none;
    height: 10px;
    position: absolute;
    right: 0;
	top:0px;
    text-indent: -11111px;
    width: 17px;
}

 form input.minus{
	 background: url("/images/updown.gif") no-repeat scroll left bottom transparent;
    border: 0 none;
    height: 10px;
    position: absolute;
    right: 0;
    text-indent: -11111px;
    width: 17px;
	top:10px;
}

form input.radio{
	width:16px;
	float:none;
	margin:auto;
}

#menu form label{

}

form .inline-fields{
	float:left;
}

form .inline-fields .fielddata{ 
}
form .inline-fields input{
	width:25px;
}

form .submit-row{
	text-align:center;
}
form .submit-row input{
	margin:8px 0 8px 155px;
}

form .checkbox-row{
}

form .checkbox-row input{

	margin: 0 0 0 100px;
    width: 16px;
}

form select{
	float:left;
	margin:0 5px 0 10px;
}

/*  MENU PAGE */

#order-steps{
	background: none repeat scroll 0 0 #666666;
    display: block;
    height: 30px;
    margin: 0;
    overflow: hidden;
    width: 625px;
}

#order-steps ul {
    background: none repeat scroll 0 0 #666666; 
	display:block;  
	margin:0 0 0 0;
}
#order-steps  ul li {
  background: none repeat scroll 0 0 #444444;
    border-right: 1px solid #FFFFFF;
    color: #CCCCCC;
    float: left;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 207px;
}

#order-steps  ul li#menu-step-three {
	border-right:0;
    width: 209px;
}

.step-one#order-steps  ul li#menu-step-one,.step-two#order-steps  ul li#menu-step-two,.step-three#order-steps  ul li#menu-step-three {
	color:#ffffff;
}


.menu-head{
	position:relative;
	margin:0 10px;
}

a.menunav-next{
 	background: url("/images/edit-button.png") no-repeat scroll right top transparent;
    color: #666666;
    display: block;
    height: 24px;
    line-height: 24px;
    padding: 0 26px 0 0;
    position: absolute;
    right: 0;
    text-align: left;
    text-decoration: none;
    top: 0;
}

.menu-wrap{
	float: left;
    margin: 10px;
    width: 605px;
}

.menu-table{
	width:600px;
}


.menu-table tr.head-row{
	background:#999999;
}

.menu-table tr.head-row th{
	background:#999999;
	padding:4px;
	color:#ffffff;
	text-align:center;
}
.menu-table tr.head-row th.lead{
	font-size:15px;
	font-weight:bold;
	text-align:left;
}

.menu-table tr.selection-row{

}

.menu-table td{ 
	height: 24px;
    padding: 4px 0;
    text-align: center;
}

.menu-table td.option-title{
	position:relative;
}

div.option{
	padding-right:10px;
	display:block;
	position:relative;
}

 form  .menu-table .qty-wrap {
   float: none;
    height: 24px;
    margin: auto;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 38px;
}

.order-sidebar{ 
-moz-border-radius: 10px; /* Firefox */
  -webkit-border-radius: 10px; /* Safari, Chrome */
  border-radius: 10px; /* CSS3 */
	 background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    margin: 00px 0 0;
    overflow: hidden;
    float:right; 
    width: 215px;
}

.order-sidebar h2{
	background:#666666;
	margin:0 0 10px;
	color:#ffffff;
	padding:8px;
	font-weight:bold;
}
.order-sidebar .mid{
	margin:0 10px;
	font-size:12px;
}

table.order-sidebar-table{
	width:195px;
	margin:4px auto;
}


table.order-sidebar-table th{
	padding:4px;
	background:#cccccc;
}


table.order-sidebar-table th.col-item{
	width:80px;
}
table.order-sidebar-table th.col-qty{
	width:12px;
}
table.order-sidebar-table th.col-cost{
	width:18px;
}
table.order-sidebar-table th.col-edit{
	width:25px;
}


table.order-sidebar-table td{
	padding:4px; 
}

.menu-table tr.head-row th.col-sun,.menu-table tr.head-row th.col-sat { 
    color: #cccccc; 
}

/* CHECKOUT FORM */

.checkout-wrap{

}


.checkout-wrap .login{
border-right: 1px solid #CCCCCC;
    float: left;
    margin: 0 15px 0 20px;
    padding-right: 15px;
    width: 400px;
}
.checkout-wrap .guest{ 
    float: left;  
    width: 430px;
}

.int-content .checkout-wrap h2{
	font-weight:bold;
	font-size:15px;
	clear:both;
}


.checkout-wrap form .zip.inline-fields label,
.checkout-wrap form .cvv.inline-fields label{
	width:40px;
}


.checkout-wrap .order-sidebar{
border: 0 none;
    border-radius: 0 0 0 0;
    margin: 0; 
    width: 430px;
}

.checkout-wrap .order-sidebar h3{
	background: none repeat scroll 0 0 #CCCCCC;
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
}

.checkout-wrap  table.order-sidebar-table {
    margin: 4px auto;
    width: 410px;
}

.checkout-wrap  table.order-sidebar-table th.col-item {
    width: 150px;
}

.checkout-wrap  table.order-sidebar-table th {
    background: none repeat scroll 0 0 #ffffff;
    font-weight:bold;
}
.checkout-wrap  table.order-sidebar-table tr.subtotal th {
    background: none repeat scroll 0 0 #cccccc; 
}

.checkout-wrap .order-submit{
		margin:15px;
}
.checkout-wrap .order-submit input{
	float:right;
}
 
.ajax-box{
	text-align:left;
	margin:10px;
}

/* PRODUCT INFO PAGE */

.product-info{
	-moz-border-radius: 10px; /* Firefox */
  -webkit-border-radius: 10px; /* Safari, Chrome */
  border-radius: 10px; /* CSS3 */
	border:1px solid #cccccc;	
	margin: 20px 50px;
}

.product-row{
	clear:both;
	border-top:1px solid #cccccc;
	margin:5px 20px;
	padding:5px 0;
	overflow:hidden;
}

.product-info h1{ 
	-moz-border-radius: 10px 10px 0 0; /* Firefox */
  -webkit-border-radius: 10px 10px 0 0; /* Safari, Chrome */ 
	 background: none repeat scroll 0 0 #333333;
    border-bottom: 0 none;
    border-radius: 10px 10px 0 0;
    color: #FFFFFF;
    margin: 0 0 10px;
    padding: 10px;
    text-transform: uppercase;
}
.product-row h2{
	font-weight:bold;
	text-transform:uppercase;
	font-size:14px;
}
.product-info p{ 
	margin:5px 20px;
}

 
.checkout-wrap form .submit-row input {
    margin: 8px 0 8px 115px;
}


/* ACCOUNT INFORMATION */

.account-topnav a.active{
	font-weight:bold;
}

.account form .col-two label{
	width:100px;
}
.account form .col-two label.wide{
	width:165px;
}
.account form .col-two  input{
	width:155px;
}

.account form .checkbox-row input{
	width:16px;
	margin:0 2px;
}

.account-wrap{
	position:relative;
	padding:10px;
}

.account-nav{ 
	width:200px;
	margin:0 10px 0 0;
}

.account-nav ul{

}

.account-nav ul li{

}

.account-nav ul li a{
	display:block;
	color:#ffffff;
	background:#999999;
	padding:5px 8px;
	margin:0 0 2px 0;
	text-decoration:none;
}
.account-nav ul li a:hover{ 
	background:#666666; 
}

.account-right{ 
   border-top: 1px dotted #444444; 
    margin: 10px 0;
    overflow: hidden;
    padding: 10px 0;
    width: 600px;
}

.order-history{
	float: left;
    padding: 0 0 10px;
    width: 285px;
}
.order-history.upcoming{
	padding:0 10px 10px 0;
	margin:0 10px 0 0;
	border-right:1px dotted #cccccc;
}

.order-history table{
	width:100%;
}
.order-history table tr{

}
.order-history table tr td{
	border-bottom:1px solid #cccccc;
	height:24px;
	padding:4px;
	text-align:left;
}
.order-history table tr th{
	font-weight:bold;
	background:#999999;
	padding:4px;
	color:#ffffff;
	text-align:left;
}

.account-right h2{
	font-weight:bold;
	font-size:18px;
	margin:0 0 12px;
}
.account-right h3{
	font-weight:bold;
	font-size:14px;
	margin:0 0 12px;
	border-bottom:1px dotted #cccccc;
	clear:both;
}
.account-right h3 a{
	float:right;
	
}

.account-topnav{
	margin:15px;
	font-size:15px;
}

.edit-save{
	 clear: both;
    overflow: hidden;
    padding: 0 0 4px;
    text-align: right;
    width: 600px;
}
.edit-save input{
	width:auto;
	float:right;
}

.account form h3 input{
	  display: inline;
    float: none;
    margin: 0 2px;
    width: 19px;
}

.col-two{
	float:left;
	margin:0 0 0 5px;
	padding:0 0 0 0;
	width:295px;531

}

.col-two.first{
	margin:0 0 5px 0;
	padding:0 0 5px 0;
	border-right:1px dotted #cccccc;
}

/* MENU PAGE */
.order-form-wrap{
	 background: none repeat scroll 0 0 #FFFFFF;
-webkit-border-bottom-left-radius: 10px;
	-khtml-border-radius-bottomleft: 10px;	
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
	-khtml-border-radius-bottomright: 10px;	
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
    float: left;
    font-family: Georgia;
    font-size: 26px;
    font-style: normal;
    margin: 0 0 0;
    width: 625px;
}
.order-form-wrap h2{
	 background: none repeat scroll 0 0 #999999;
-webkit-border-bottom-left-radius: 10px;
	-khtml-border-radius-bottomleft: 10px;	
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
	-khtml-border-radius-bottomright: 10px;	
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	 font-size: 19px;
    font-style: italic;
    padding: 10px;
    text-align: center;
    width: 195px;
}

.menu-cols{   
}

.menu-option-section{
	float:left;
	width:240px;
	border-right:0 dotted #333333;
	padding-right:10px;
}

.menu-promo{
	  border-right: 2px dotted #CCCCCC;
    float: left;
    margin-left: 10px;
    width: 300px;
}

.section-number {
	font-family:Georgia;
	font-size:30px; 
}

.menu-promo blockquote{
	 color: #CCCCCC;
    font-family: georgia;
    font-size: 24px;
    font-style: normal;
    line-height: 29px;
    margin: 10px 10px 0;
}

/* Menu Popups */

.bubbleInfo {
    position: relative;
}

.popup { 
    display: none; /* keeps the popup hidden if no JS available */
	 background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    display: block;
    position: absolute;
    right: -30px;
    top: 20px;
    width: 218px;
    z-index: 9999999;
    box-shadow:4px 4px 2px #ccc;
    -moz-box-shadow: 4px 4px 2px #ccc;
    -webkit-box-shadow: 4px 4px 2px #ccc;
}