
	<script type="text/javascript" src="/js/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
	<script type="text/javascript" src="/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
	<link rel="stylesheet" type="text/css" href="/js/fancybox/jquery.fancybox-1.3.4.css" media="screen" /> 
	<script type="text/javascript">
		$(document).ready(function() { 

			$(".option-page-link").fancybox();
 
		});
	</script>
<div class="ajax-box">
<p><strong><a href="/wireframe/index/productinfo" class="option-page-link">Sample Option Title</a></strong></p>
<p>Simple description and details go here. Short description of this food item and information goes here</p>
<p><strong>890 Cal &nbsp; Contains Nuts</strong></p>
</div>